* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  /* height: 100vh; */
  height: 100vh;
  width: 100vw;
}

.map {
  /* height: 800px; */
  height: 100%;
  width: 100%;
}

.marker {
  background-image: url("https://image.flaticon.com/icons/png/512/285/285888.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px lightgray;
}
