* {
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
}

.map {
  /* height: 800px; */
  height: 80vh;
}

.marker {
  background-image: url("https://image.flaticon.com/icons/png/512/285/285888.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px lightgray;
}
